# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*~
.DS_Store

*.d
/.cproject
/.project
/.settings

Debug/
Release/

test_data/beta_out*.txt
test_data/choice_out*.txt
test_data/out.txt

.vscode
papers/Validation_paper/manuscript_LaTeX_raw.zip
papers/Validation_paper/manuscript_figures.zip
